.container {
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.display {
  display: flex;
}

.gap {
  gap: 1rem;
}

.direction {
  flex-direction: column;
}

.input {
  width: 150px;
  height: 60px;
  border: none;
  font-size: 2rem;
  text-align: center;
}

.label {
  font-size: 1.2rem;
  margin: 0.3rem 0;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.select {
  width: 900px;
  height: 62px;
  border: none;
  font-size: 2rem;
}

